<of-virtual-tree [model]="model" [renderArea]="renderArea">
    <ng-template let-node let-index="index">
        <div
            class="of-node"
            [style.paddingLeft.rem]="1.5 * (node.depth + 1)"
            [ofSetAttrs]="getDomNodeAttr(node)"
            (contextmenu)="handleContextMenu($event, node.item)"
        >
            <div style="display: flex; flex: 1 0 100%">
                <i
                *ngIf="model.isExpandable(node.item) && !isFiltered"
                (click)="model.toggle(node.item)"
                [class]="getExpanderIcon(node.item)"
                ></i>
                <div
                    class="of-node-title"
                    (click)="handleRowClick($event, node.item)"
                >
                    <i [class]="getIcon(node)" (click)="iconClick.emit({ event: $event, item: node.item })"></i>
                    <div
                        class="of-label"
                        (click)="labelClick.emit({ event: $event, item: node.item })"
                        [class.of-highlight]="model.isHighlighted(node.item)"
                        [class.of-selected]="model.isSelected(node.item)"
                    >
                        {{ getName(node.item) }}
                    </div>
                </div>
            <button (click)="expandNode(node)">Expand</button>
            </div>
            
            @if (expandedNode() === node) {
                <div #expanded>{{ node.item | json }}</div>
            }
        </div>
    </ng-template>
</of-virtual-tree>
